html {
  max-width: 800px;
  width: 90%;
  margin: 0 auto;


    @media @mobile{
      margin: 0 5%;

    }
 
    header{
     
    }
    .home {

      .first-block{
        // here
       


        h2{
          margin-top: 3%;
        }
        p{
          margin-bottom: 1%;
        }
      }

      .content-section {
        margin: 30px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

       /*  @media @mobile{
          flex-direction: row;
        } */

        .text-content {
          width: 48%;
          padding-right: 1%;

          @media @mobile{
            width: 100%;
          }
        }

        .img-content {
          width: 48%;
          padding-left: 1%;

          @media @mobile{
            width: 100%;
          }

          img {
            border-radius: 10px;
          }
        }
      }

      .inverse-content {
        padding-bottom: 30px;
        border-bottom: 2px dashed @navigation-border;
        display: flex;
        flex-direction: column-reverse;

        @media @mobile{
          margin-bottom: 5%;
        }

        .text-content {
          padding-left: 1%;
          padding-right: 0;
        }

        .img-content {
          padding-right: 1%;
          padding-left: 0;
        }
      }

      .content-destination {
        width: 75%;
        margin: 0 auto;
        margin-bottom: 3%;

        @media @mobile{
          width: 100%;
          border-bottom: 5%;
          margin-top: 8%;
          margin-bottom: 10%;
        }

        img {
          border-radius: 10px;
        }
      }

      .content-pick {
        padding-top: 30px;
        border-top: 2px dashed @navigation-border;
        display: flex;
        flex-direction: row;
        justify-content: space-between;


        @media @mobile{
          flex-direction: column;
          margin-bottom: 10%;
        }

        .destination {
          width: 30%;
          margin-bottom: 30px;
          display: flex;
          flex-direction: column;
          justify-content: center;

          @media @mobile{
            width: 80%;
            margin: 0 auto;

          }
         
          .btn {
            .buttons();
            @media @mobile{
              background-color: @eastern-blue;
            }
          }
          h4{

            @media @mobile {
              margin-top: 20%;
            }
          }
        }
      }
    }
  } // home

